= link_to 'Nuevo servicio o propiedad', new_admin_product_path, "data-method": "get", class: "btn btn-primary btn-round"

.card
  .card-header
    %h4.card-title Servicios
  .card-body
    .table-responsive
      %table.table
        %thead.text-primary
          %th Imagen
          %th Nombre de la Propiedad
          %th Dirección
          %th Mts cuadrados
          %th.text-right Acciones
        %tbody
          - @products.each do |product|
            %tr
              %td{style:'width:50px'}
                = image_tag url_for(product.image)
              %td= product.title
              %td= product.address
              %td= product.sqft
              %td= link_to 'Show', admin_product_path(product), "data-method": "get"
              %td= link_to 'Edit', edit_admin_product_path(product), "data-method": "get"
              %td= link_to 'Destroy', admin_product_path(product), method: :delete, data: { confirm: 'Are you sure?' }, "data-method": "get"