.row
  .col-lg-6
    = link_to 'Atrás', admin_products_path, "data-method": "get", class: 'btn btn-primary btn-round'
    .card
      .image
        = image_tag url_for(@product.image)
  .col-lg-6
    .card.card-user
      .card-body
        .author
          %h5.title= @product.title
        %p.description.text-center
          = @product.address
      .card-footer
        %hr/
        .button-container
          .row
            .col-lg-3.col-md-6.col-6.ml-auto
              %h5
                = @product.sqft
                %br/
                %small Metros Cuadrados
            .col-lg-4.col-md-6.col-6.ml-auto.mr-auto
              %h5
                2GB
                %br/
                %small Used
            .col-lg-3.mr-auto
              %h5
                24,6$
                %br/
                %small Spent
    = link_to 'Editar', edit_admin_product_path(@product), "data-method": "get", class: 'btn btn-primary btn-round pull-right'
