= form_for [:admin, @cotization] do |f|
  - if @cotization.errors.any?
    #error_explanation
      %h2= "#{pluralize(@cotization.errors.count, "error")} prohibited this cotization from being saved:"
      %ul
        - @cotization.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :phone
    = f.text_field :phone
  .field
    = f.label :message
    = f.text_field :message
  .field
    = f.label :product_id
    = f.number_field :product_id
  .actions
    = f.submit 'Save'
